body {
    background-color: #F6C90E;
    font-family: "Rubik", sans-serif;
    color: #303841;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

h2 {
    margin-top: 0;
}

.shoes-section {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the alpha value (0.8) for the desired transparency */
}

.shoes-list {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    max-height: 500px; /* Adjust the max-height value as needed */
}

.shoe-item {
    width: 300px;
    margin: 20px;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.shoe-item img {
    max-width: 100%;
    height: auto;
}

.shoe-item h3 {
    margin-top: 0;
}

.price {
    font-weight: bold;
}

.add-to-cart {
    display: block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #303841;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart-items {
    margin-top: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
}

.cart-item img {
    max-width: 80px;
    height: auto;
    margin-right: 10px;
}

.cart-item-details h3 {
    margin-top: 0;
}

.price {
    font-weight: bold;
}

.quantity {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.quantity-button {
    background-color: #303841;
    color: #FFFFFF;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
}

.quantity-button.plus {
    margin-left: 10px;
}

.quantity-number {
    margin: 0 5px;
}

.remove-item {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.remove-item img {
    width: 20px;
    height: auto;
}

.cart-total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.total-price {
    font-weight: bold;
    margin-left: 5px;
}

.empty-cart {
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}
